.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs a {
    color: white;
    text-decoration: none;
}

.dialogsItems {
    padding: 20px;
}

.dialogsItems .active {
    color: white;
}

.messages {
    padding: 20px;
}

.message {

}